---
layout: default
title: 'Mr.Bara'
---
</head>
<body>
	
	<header>
		<p class="web-title">Mr.<br>Bara</p>
		{% include navbar_responsive.html %}
		<div class="container">
			{% include navbar_elements.html %}
		</div>
		<div class="right-nav">
			<ul>
				<li class="hide-when-responsive"><a href="#">LOG IN</a></li>
				<li class="hide-when-responsive"><a href="#">SIGN UP</a></li>
				<li><a href="#"><i class="ion-bag"></i></a></li>
				<li class="hide-when-responsive"><a href="#"><i class="ion-ios-search-strong"></i></a></li>
			</ul>
		</div>

		{% include shop_and_overlay.html %}
		
	</header>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-sm-2 col-xs-2">
					<div class="line"></div>
				</div>
				<div class="col-lg-10 col-sm-10 col-xs-10">
					<p class="section_title">About <span>Mr.Bara</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">

				</div>
				<div class="col-lg-10">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="why_choose">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-10">
					<img id="skater" src="assets/img/feet_skater.jpg" class="img-responsive">	
				</div>
			</div>
			<!-- content -->
			<div class="separator" style="margin-top: 110px;"></div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="line line-white"></div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<p class="section_title white">Why choose <span class="white">Mr.Bara</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

				</div>
				<div class="col-lg-10">
					<p class="no-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="row">
						<div class="col-lg-4">
							<div class="red-bold-line"></div>
							<p class="white-poppins">Free<br>Shipping</p><br>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.</p>
						</div>
						<div class="col-lg-4">
							<div class="red-bold-line"></div>
							<p class="white-poppins">100% money<br>Back</p><br>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.</p>
						</div>
						<div class="col-lg-4">
							<div class="red-bold-line"></div>
							<p class="white-poppins">Dedicated<br>Support</p><br>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>

	<section id="popular">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="line"></div>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-10">
					<p class="section_title black">Popular <span class="red">Products</span></p>
				</div>
				<div class="col-lg-3 relative no-responsive">
					<a href="#" class="browse_p_text">Browse all products </a><i class="ion-ios-arrow-thin-right adjust-arrow"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 responsive">
					{% include image.html url_img='LonglineHoodedT-shirt.jpg' description='Obey T-shirt with Tiger Print' price='30.00' %}
				</div>
				<div class="col-lg-4 no-responsive">
					{% include image.html url_img='LonglineHoodedT-shirt.jpg' description='Obey T-shirt with Tiger Print' price='30.00' %}
					
				</div>
				<div class="col-lg-4 no-responsive">
					{% include image.html url_img='barbourInternationT-shirt.jpg' description='Obey T-shirt with Tiger Print' price='35.00' %}
				</div>
				<div class="col-lg-4 no-responsive">
					{% include image.html url_img='NikeDrawstringBackpack.jpg' description='Obey T-shirt with Tiger Print' price='39.99' %}
				</div>
			</div>
			
		</div>
		
		<!-- Make carousel -->

	</section>

	<section id="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="line"></div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
					<p class="section_title black">Our <span class="red">Newsletter</span></p>
				</div>

				<div class="no-responsive">
					<div class="col-lg-1"></div>
					<div class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><span>SUSCRIBE<span></button>
							</span>
						</div><!-- /input-group -->
					</div>	
				</div>
			</div>
			<div class="row responsive">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<input type="text" class="circle-field" placeholder="Search for...">
				</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="row responsive">
				<div class="col-xs-4"></div>
				<div class="col xs-4">
					<button class="btn btn-default wine" type="button"><span>SUSCRIBE<span></button>
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
	</section>
	{% include footer_responsive.html %}
	{% include footer_noResponsive.html %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="assets/js/product_layout.js"></script>
</body>
</html>
