<footer class="responsive">
	<div class="row">
		<div class="col-sm-12 the-footer">
			<p class="web-title">Mr.<br>Bara</p>
			<ul>
				<li><a href="#">site map</a></li>
				<li><a href="#">term &amp; conditions</a></li>
				<li><a href="#">privacy policy</a></li>
				<li><a href="#">help</a></li>
				<li><a href="#">affiliate</a></li>
			</ul>
			<ul>
				<li><a href="#">Our location</a></li>
				<li><a href="#">career</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact</a></li>
			</ul>
			<div class="social-media">
				<ul>
					<li>ENG <i class="ion-ios-arrow-down"></i></li>
					<li>USD <i class="ion-ios-arrow-down"></i></li>
					<li><i class="ion-social-facebook"></i></li>
					<li><i class="ion-social-twitter"></i></li>
					<li><i class="ion-social-rss"></i></li>
				</ul>
			</div>
			<ul>
				<li>&copy; Mr.Bara 2017</li>
				<li>All rights reserved</li>
			</ul>
		</div>
	</div>
</footer>