<footer class="no-responsive">
	<p class="web-title">Mr.<br>Bara</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<ul>
					<li>&copy; Mr.Bara 2017</li>
					<li>All rights reserved</li>
				</ul>
			</div>
			<div class="col-lg-3">
				<ul>
					<li><a href="#">site map</a></li>
					<li><a href="#">term &amp; conditions</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">help</a></li>
					<li><a href="shop_categories.html">affiliate</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<ul>
					<li><a href="#">Our location</a></li>
					<li><a href="#">career</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="social-media">
		<ul>
			<li>ENG <i class="ion-ios-arrow-down"></i></li>
			<li>USD <i class="ion-ios-arrow-down"></i></li>
			<li><i class="ion-social-facebook"></i></li>
			<li><i class="ion-social-twitter"></i></li>
			<li><i class="ion-social-rss"></i></li>
		</ul>
	</div>
</footer>