<div id="shop-cart">
	<a href="#"><span id="close" class="glyphicon glyphicon-remove" aria-hidden="true"> CLOSE</span></a>

	<div class="row">
		<div class="col-lg-12">
			<p class="shop-cart-title">Cart</p>
		</div>
	</div>
		<!-- Products -->
	<div class="row">
		<div class="col-lg-1 col-xs-1"></div>
		<div class="col-lg-10 col-xs-10">
			<!-- overflow: auto -->
			<div id="products-display">

			</div>
		</div>
		<div class="col-lg-1 col-xs-1"></div>
	</div>
	<!-- Total zone -->
	<div class="row">
		<div class="col-lg-1 col-xs-1"></div>
		<div class="col-lg-10 col-xs-10">
			<div class="subtotal align-horizontally">
				<p>SUBTOTAL</p>
				<p class="price" id="cart-price"><i class="ion-social-usd"></i> 36.00</p>
			</div>
		</div>
		<div class="col-lg-1 col-xs-1"></div>
	</div>
	<!-- Product zone -->
	<div class="row">
		<div class="col-lg-1 col-xs-1"></div>
		<div class="col-lg-10 col-xs-10">
			<div class="butttons align-horizontally">
				<div class="jumbo align-horizontally view-cart">
					<p>View cart</p>
					<span><i class="ion-chevron-right"></i></span>
				</div>
				<div class="jumbo align-horizontally checkout">
					<p>Checkout</p>
					<span><i class="ion-chevron-right"></i></span>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-xs-1"></div>
	</div>
</div>

<div id="overlayer" onclick="close()"></div>