section .page-title {
	font-family: Poppins;
}

.med-model {
	width: 370px;
	height: 490px;
}

.xs-model {
	width: 78px;
	height: 104px;
}

.adjust {
	justify-content: space-between;
}

.align-horizontally {
	display: flex;
    align-items: baseline;
}

.no-baseline {
	align-items: unset;
	width: 346px;
    justify-content: space-between;
    padding-bottom: 30px;
}

.green {
	color: green;
}

.margin-top {
	margin-top: 20px;
}

.xs-circle {
	border-radius: 50%;
    width: 18px;
    height: 18px;
    display: block;
    line-height: 18px;
    text-align: center;
    margin-right: 8px;
} 

.grey {
	color: #c9c7c7;
	font-weight: bold;
}

.small {
	line-height: 22px;
	font-size: 14px;
	text-align: justify;
	padding-bottom: 30px;
}


.add-to-cart {
	width: 150px;
	background-color: #660000;
}

.add-to-cart .ion-plus, .add-to-cart p {
	color: white;
}

.ion-ios-heart {
	font-size: 20px;
}

.ion-ios-telephone {
	font-size: 20px;
}

.nav-tabs>li.active>a {
	border: none;
	border-bottom: 1px solid black;
}

.jumbo.add-to-cart:hover {
	cursor: pointer;
}

.ion-plus:hover {
	cursor: pointer;
}

.ion-minus:hover {
	cursor: pointer;
}

.info {
	padding-top: 20px;
}

.info i {
	padding: 0 5px;
	font-size: 17px;
}

.bold {
	font-weight: 700;
}

#dynamicPill {
	padding-top: 50px;
}

#dynamicPill a {
	color: #c9c7c7;
	font-size: 18px;
}

#dynamicPill a:hover {
	background-color: white;
}

#dynamicPill li.active a {
	color: #000;
	border-bottom: 1px solid #000;
}

#dynamicPill ul {
	border-bottom: 1px solid grey;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: black;
	background-color: white;
	border-bottom: 1px solid grey;
	border-radius: 0px;
}

.header-title {
	font-size: 25px;
	font-family: Poppins, Arial;
	text-align: center;
	padding-top: 50px;
	color: black;
}

#related-products .relative-position {
	max-height: 350px;
}

#pladdtocart a {
	text-decoration: none;
	color: white;
}