header {
	height: 80px;
	background: white;
	padding-top: 35px;
	border-bottom: 1px solid black;
	position: fixed;
	width: 100%;
	z-index: 2;
}

nav ul li {
	color: black;
}

nav ul {
	padding: 0;
}

header .web-title {
	color: black;
	font-size: 25px;
	margin-top: -15px;
	line-height: 22px;
}

header .container {
	padding: 0;
}

header .right-nav ul li a {
	color: black;
}

.right-nav {
	display: flex;
	top: 21px;
}

.circle {
	border-radius: 50%;
	width: 41px;
	height: 41px;
	display: block;
	line-height: 41px;
    text-align: center;
    overflow: hidden;
}

li .circle-grey {
	background-color: #ececec;
	opacity: 0.4;
}

li .circle-grey:hover {
	cursor: pointer;
}



nav.no-responsive ul li a {
	color: black;
	text-decoration: none;
}



section {
	/*height: 2165px;  If the content grows the height must not be set, just add (uncomment) the padding-bottom and erase height property */
	padding-top: 97px;
	padding-bottom: 40px;
	overflow: hidden;
	position: relative;
}

.area-title {
	font-family: Poppins;
	color: #000000;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 600;
	line-height: 80px;/* Approximation due to font substitution */
	text-align: left;
}

.section-title {
	color: black;
	font-weight: 600;
}

.link {
	font-family: Poppins;
	color: #999999;
	font-size: 14px;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 36px;/* Approximation due to font substitution */
	text-align: left;
}

.link-active {
	color: #990000;
}

.align {
	padding-top: 20px;
}

.large-model {
	width: 870px;
	height: 258px;
}

.std-model {
	width: 270px;
	height: 450px;
}



.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.relative-position {
	position: relative;
}

.ribbon {
	display: block;
	border-radius: 3px;
	position: absolute;
	width: 53px;
	height: 27px;
	line-height: 27px;
	right: 19px;
	top: 19px;
	font-family: Poppins;
	color: #ffffff;
	font-size: 12px;/* Approximation due to font substitution */
	text-align: center;
	z-index: 1;
	font-weight: bold;
    font-family: monospace;
    font-size: 19px;
}

.new-product {
	background-color: #93be2b;
}

.sale-product {
	background-color: #cc3300;
}



.product-image {
	height: 360px;
	overflow: hidden;
	position: relative;
}



.list-pleft li {
	display: flex;
	justify-content: space-between;
}

.no-space {
	padding-left: 0;
}

.no-space li {
	padding-left: 0;
}


.right-nav .ion-bag {
	color: #000;
}

/**/

.circle.active {
	opacity: 1;
	border: 1px solid black;
}

.circle.circle-black.active .ion-checkmark {
	color: white;
}

.circle.active .ion-checkmark {
	display: block;
}

.circle .ion-checkmark {
	display: none;
}

.circle-blue {
	background-color: blue;
	opacity: 0.4;
}

.circle:hover {
	border: 1px solid black;
}

.circle-pink {
	background-color: pink;
	opacity: 0.4;
}

.circle-green {
	background-color: green;
	opacity: 0.4;
}

.circle-red {
	background-color: red;
	opacity: 0.4;
}

.circle-black {
	background-color: #000;
	opacity: 0.4;
}

#display-all {
	cursor: pointer;
}

.separator {
	padding-top: 35px;
}

#paginator {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	padding: 0;
}
/**/

@media only screen and (max-width: 1430px) {
	.right-nav.no-responsive {
		display: none;
	}

	header {
		padding: 0;
	}

	.responsive a.web-title {
		font-size: 35px;
		padding-top: 15px;
	}

	.responsive .web-title {
		font-size: 47.98px;/* Approximation due to font substitution */
		font-weight: 400;
		line-height: 79.987px;/* Approximation due to font substitution */
		text-align: center;
		transform: scaleY(1.0003);
	}

	.the-footer .web-title {
		line-height: 30.987px;
		font-size: 35px;
	}

	.red-box {
		background-color: #990000;
		width: 100%;
		height: 58px;
		color: white;
	}

	.red-box p {
		color: white;
	}
}